* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    align-items: center;
}

.fixed {
    position: sticky;
    top: -28px;
    z-index: 999;
    /* padding: 36px 0 8px; */

}

/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    min-width: 118px;
    padding: 11px 41px;
    text-align: center;
    border-radius: 24.5px;
    background: #171100;
    display: inline-block;
}

.header {
    /* height: 900px; */
    background: #FFFCF4;
    /* padding-top: 44px; */
}

.header .btn {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
}


/* header */
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}


.header .nav {
    margin-left: auto;
}

.nav .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-item a {
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    padding: 8px 21px;
}

.nav li.active ::after {
    position: absolute;
    content: " ";
    display: block;
    width: 12px;
    height: 2px;
    left: 21px;
    bottom: 6px;
    border-radius: 1px;
    background: #171100;
}

.nav .nav-item a:hover,
.nav .active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
    position: relative;
}

.nav .signup-btn {
    min-width: 144px;
}

/* hero */
.hero {
    /* padding-bottom: 65px; */
    display: flex;
    padding-top: 64px;
    background: #FFFCF4;
}

.hero .container {
    display: flex;
}

.hero .img-block,
.hero .info {
    width: 50%;
}

.hero .img-block {
    position: relative;

}

.hero .img-hero {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero .base {
    position: absolute;
    right: -100px;
    bottom: 48px;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    display: block;
    padding: 28px 24px;
    background: #ffffff9e;
    border-radius: 12px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.base .card {
    display: flex;
}

.base .information {
    margin-left: 16px;
}

.base .card:not(:last-child) {
    margin-bottom: 22px;
}

.base .card-img img {
    width: 48px;
    height: 48px;
}

.hero .info {
    margin-top: 64px;
    margin-left: 230px;
}

.hero .info .heading {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -1.16px;
}

.hero .info .sub-title {
    color: #5F5B53;
    margin-top: 22px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.hero .button-block {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero .button-block .btn-hero {
    margin-right: 22px;
    background-color: #FFB900;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.quality {
    margin-top: 48px;
    margin-bottom: 8px;
}

.quality .rencent {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}

.quality .count {
    display: flex;
}

.quality .number {
    color: #171100;
    font-family: Sen;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
}

.quality .unit {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.quality .block-2 {
    margin-left: 28px;
}

/* courses================ */
.courses {
    padding: 200px 0px;
}

.courses .heading {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.76px;
}

.courses .sub-title {
    width: 458px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.courses .skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .card {
    margin-top: 55px;
    width: 370px;
    height: 466px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.row-card {
    display: flex;
    gap: 30px;
}

.card .courses-img {
    border-radius: 12px 12px 0 0;
    width: 370px;
    height: 278px;
    object-fit: cover;
}

.card-body {
    padding: 16px 22px 22px 22px;
}

.card .evaluate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.evaluate .name {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.card-body .number {
    color: #FEA31B;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
}

.card .star {
    display: flex;
    align-items: center;
    gap: 3px;
}

.card-body .desc {
    margin-top: 6px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}

.card-body .shopping {
    margin-top: 12px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.card-body .price {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.card-body .btn-shopping {
    width: 118px;
    /* background: #FFB900; */
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    /* 185.714% */
    padding: 12px 24px;
}

/* comment============== */
.comment {
    background: #2E2100;
}

.comment .container {
    display: flex;
    padding: 96px 0;
    align-items: center;
}

.comment .user {}

.comment .block-comment {
    position: absolute;
    width: 740px;
    margin-left: 430px;
    color: #FFF;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
}

.block-comment .mark {
    position: relative;
    top: 11px;
    right: 28px;
}

.user .name-user {
    color: #F7F7F7;
    font-family: Sen;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.user .role {
    color: #BFBCB2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    /* 185.714% */
}

.comment .user-img {
    margin-top: 18px;
    margin-bottom: 4px;
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 72px;
}

.user .dot {
    margin-top: 28px;
}

/* feature=== */

.feature {
    padding: 200px 0;
}

.feature-block {
    display: flex;

}

.feature-block .img-frame {
    display: flex;
    gap: 30px;
    margin-right: 130px;
}

.feature .picture {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.feature .heading {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.76px;
}

.feature .lower {
    margin-top: 34px;
}

.feature .sub-title {
    margin: 16px 0;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
}

.feature .desc {
    margin-bottom: 32px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.feature .btn-feature {
    padding: 11px 37px;
    border-radius: 26px;
    background: #FFB900;
    color: #fff;
}

.block-2 {
    padding-top: 200px;
}

.block-2 .img-frame {
    margin-right: 0;
    margin-left: 130px;
}

.block-2 .picture {
    width: 470px;
    height: 440px;
}

/* Blog ============== */
.blog {
    padding: 96px 0;
    background: #FFFCF4;
}

.blog .heading {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
}

.blog .sub-tilte {
    margin: 16px 0 55px 0;
    color: #696262;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.blog .card-list {
    display: flex;
    gap: 30px;
    width: 370px;
    height: 250px;
}

.blog .card-img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.card-list .heading {
    text-align: start;
    color: #171100;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
}